#users db
KEY_POSTGRES_USERS_DB=
KEY_POSTGRES_USERS_USER=
KEY_POSTGRES_USERS_PASSWORD=

#orders db
KEY_POSTGRES_ORDERS_DB=
KEY_POSTGRES_ORDERS_USER=
KEY_POSTGRES_ORDERS_PASSWORD=

#inventory db
KEY_POSTGRES_INVENTORIES_DB=
KEY_POSTGRES_INVENTORIES_USER=
KEY_POSTGRES_INVENTORIES_PASSWORD=

# JWT secret
JWT_SECRET=